section.info-section.contact
  header
    h2 Or...Leave a Message
  form(action="")
    label(for="name") Name
    input#name(type="text", name="name")
    label(for="email") Email
    input#email(type="email", name="email")
    label(for="message") Message
    textarea#message(name="message")
    button(type="submit") Submit
