section.info-section.contact
  header
    h2 Or...Leave a Message
  form(action="")
    .label-group
      label(for="name")
        p Name
      input#name(type="text", name="name")
    .label-group
      label(for="email")
        p Email
      input#email(type="email", name="email")
    .label-group
      label(for="message")
        p Message
      textarea#message(name="message")
    button(type="submit") Submit
