section.info-section.education-experience
  header
    h2
      | Education
      span &#38;
      | Experience
  ul.education-experience__list.nostyle
    li
      img(src="images/strikingly-logo.png", alt="Strikingly")
      .education-experience__list__description
        h3 Strikingly
        p.education-experience__title Cofounder, 2012 - Present
        p.education-experience__description
          | Strikingly is a website builder that"s simple, beautiful, and fun. And perfect for the age of mobile. I"m in charge of UI/UX and front-end.
    li
      img(src="images/echo-rocket.jpg", alt="Echo Rocket")
      .education-experience__list__description
        h3 Freelance Web/Game Developer
        p.education-experience__title 2007 - 2012
        p.education-experience__description
          | EchoRocket was my one-man Flash game studio and web development/design consultancy. I built Spinblaster, Block Knocker, CampusAmp, HireBrite, and more!
    li
      img(src="images/u-of-chicago.jpg", alt="")
      .education-experience__list__description
        h3 University of Chicago
        p.education-experience__title BA Economics, 2008-2012
        p.education-experience__description
          | Studying the finer points of firms, markets, finance, decision theory, and supply and demand.
