section.info-section.get-in-touch
  header
    h2 Get in Touch
  ul.get-in-touch__list.nostyle.float-layout
    li.child.child--25
      a(href="#")
        img(src="images/fb-icon.png", alt="")
      p Facebook
    li.child.child--25
      img(src="images/twitter-icon.png", alt="")
      p Twitter
    li.child.child--25
      img(src="images/linkedin-icon.png", alt="")
      p LinkedIn
    li.child.child--25
      img(src="images/email-icon.png", alt="")
      p Email
