section.info-section.get-in-touch
  header
    h2 Get in Touch
  ul.get-in-touch__list
    li
      a(href="#")
        img(src="images/fb-icon.png", alt="")
      p Facebook
    li
      img(src="images/twitter-icon.png", alt="")
      p Twitter
    li
      img(src="images/linkedin-icon.png", alt="")
      p LinkedIn
    li
      img(src="images/email-icon.png", alt="")
      p Email
