@import "util";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Open Sans', 'helvetica', 'arial', 'sans-serif';
  font-family: 'Open Sans', 'helvetica', 'arial', 'sans-serif';
  font-weight: 300;
  color: #62686f;

  background-image: url(/images/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  .container {
    width: 960px;
    margin: 0 auto;

    @import "../includes/main-header";
    @import "../includes/main-nav";

    @import "../includes/info-section";

    @import "../includes/whatido";
    @import "../includes/education-experience";
    @import "../includes/photos";
    @import "../includes/get-in-touch";
    @import "../includes/contact";
  }
}
