doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
      
    title My Site
          
    meta(name='viewport', content='width=device-width,initial-scale=1')
      
    link(rel='stylesheet', href='styles/libs/normalize.css')
    link(rel='stylesheet', href='styles/main.css')
      
  body
    
    .container
      
      include ./includes/main-header
      include ./includes/main-nav
      include ./includes/whatido
      include ./includes/education-experience
      include ./includes/photos
      include ./includes/get-in-touch
      include ./includes/contact
    
    // link(href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400", rel="stylesheet", type="text/css")
    link(href="http://fonts.useso.com/css?family=Open+Sans:400,300", rel="stylesheet", type="text/css")
